@import "./config";
@import "./helpers";

html,
body {
  margin: 0;
  padding: 0;

  font-family: $font-family-sans-serif;
  font-size: 18px;
  line-height: 1.4;
  color: #333;
}

a {
  color: black;
  font-weight: bold;
}

code,
pre {
  font-family: $font-family-monospace;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headings-font-family;
  font-weight: bold;
  color: black;
}
